/*---------------*\
  $GRID
\*---------------*/
/**
* ROW.............
* COL.............
* OFFSET..........
* ALIGN...........
*/

// Row
.hub-row {
	display: flex;
	margin-right: -$space;
	margin-left: -$space;
}

// Col
[class^=hub-col-] {
	padding-right: $space;
	padding-left: $space;
}

@for $i from 1 through $cols {
	.hub-col-#{$i} {
		flex: ($i * 100%) / $cols;
	}
}
@for $i from 1 through $cols {
	@include breakpoints($xs) {
		.hub-col-#{$i}-xs {
			flex: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($sm) {
		.hub-col-#{$i}-sm {
			flex: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($md) {
		.hub-col-#{$i}-md {
			flex: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($lg) {
		.hub-col-#{$i}-lg {
			flex: ($i * 100%) / $cols  !important;
		}
	}
}

// Offset

@for $i from 1 through $cols {
	.hub-col-offset-#{$i} {
		margin-left: ($i * 100%) / $cols;
	}
}
@for $i from 1 through $cols {
	@include breakpoints($xs) {
		.hub-col-offset-#{$i}-xs {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($sm) {
		.hub-col-offset-#{$i}-sm {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($md) {
		.hub-col-offset-#{$i}-md {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}
@for $i from 1 through $cols {
	@include breakpoints($lg) {
		.hub-col-offset-#{$i}-lg {
			margin-left: ($i * 100%) / $cols  !important;
		}
	}
}

// Align items
.hub-align-items-start {
	align-items: flex-start !important;
	@include breakpoints($xs) {
		&-xs {
			align-items: flex-start !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-items: flex-start !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-items: flex-start !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-items: flex-start !important;
		}
	}
}

.hub-align-items-center {
	align-items: center !important;
	@include breakpoints($xs) {
		&-xs {
			align-items: center !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-items: center !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-items: center !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-items: center !important;
		}
	}
}

.hub-align-items-end {
	align-items: flex-end !important;
	@include breakpoints($xs) {
		&-xs {
			align-items: flex-end !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-items: flex-end !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-items: flex-end !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-items: flex-end !important;
		}
	}
}

// Align self
.hub-align-self-start {
	align-self: flex-start !important;
	@include breakpoints($xs) {
		&-xs {
			align-self: flex-start !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-self: flex-start !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-self: flex-start !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-self: flex-start !important;
		}
	}
}

.hub-align-self-center {
	align-self: center !important;
	@include breakpoints($xs) {
		&-xs {
			align-self: center !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-self: center !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-self: center !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-self: center !important;
		}
	}
}

.hub-align-self-end {
	align-self: flex-end !important;
	@include breakpoints($xs) {
		&-xs {
			align-self: flex-end !important;
		}
	}
	@include breakpoints($sm) {
		&-sm {
			align-self: flex-end !important;
		}
	}
	@include breakpoints($md) {
		&-md {
			align-self: flex-end !important;
		}
	}
	@include breakpoints($lg) {
		&-lg {
			align-self: flex-end !important;
		}
	}
}
